@import "../../theme/forms.scss";

.forgotPasswordForm {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 370px;
  width: 100%;
  align-self: center;
  flex: auto;
  @media screen and (max-width: $width-mobile) {
    margin-bottom: 50px;
    padding: 0 15px;
    form {
      margin-top: auto;
    }
  }
}

.errorAuth {
  color: #FE0000;
}
