@import "../../theme/forms.scss";

.setNewPasswordForm {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 370px;
  width: 100%;
  align-self: center;
  flex: auto;
  @media screen and (max-width: $width-mobile) {
    margin-bottom: 50px;
    padding: 0 15px;
    form {
      margin-top: auto;
    }
  }
}

.errorAuth {
  text-align: center;
  color: #fe0000;
  margin-bottom: 10px;
  @media screen and (max-width: $width-mobile) {
    margin-bottom: 5px;
  }
}
