@import "../../../theme/variables.scss";

.setNewPassword {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  @media screen and (max-width: $width-mobile) {
    min-height: 100vh;
    height: 100%;
  }
}

.setNewPasswordLogo {
  position: relative;
  font-size: 0;
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 267px;
    height: 234px;
    font-size: 0;
  }
  @media screen and (max-width: $width-mobile) {
    svg {
      width: 200px;
      height: 160px;
    }
  }
}
